$docs-color-green: #56AA1C !default;
$docs-color-primary: #00FFAD !default;
$docs-color-secondary: #192440 !default;
$docs-color-heart: #ea5395 !default;
$docs-color-text: #000 !default;
$docs-color-shadow: #e5e5e5 !default;
$docs-color-back: #fff !default;
$docs-color-warning: #ff9100 !default;
$docs-color-danger: #ff5252 !default;
$docs-color-purple: #a321a3 !default;
$docs-color-success: #00c853 !default;
$docs-color-tip: #00bfa5 !default;
$docs-color-header-back: $docs-color-secondary !default;
$docs-color-header-text: $docs-color-back !default;
$docs-color-tabs-text-normal: #767676 !default;
$docs-color-tabs-text-active: #000 !default;
$docs-color-tabs-border-normal: #ddd !default;
$docs-color-tabs-border-active: #d8d8d8 !default;
$docs-color-sidebar-active: #0b74de !default;
$docs-color-sidebar-normal: #485766 !default;

$docs-screen-brk: 1200px !default;
$docs-desktop-brk: 992px !default;
$docs-tablet-brk: 768px !default;
$docs-mobile-brk: 576px !default;

$docs-font-family: 'Lato', sans-serif !default;
