.markdown-body {
  text-size-adjust: 100%;
  color: $docs-color-md-text;
  background: $docs-color-back;
  font-family: $docs-font-family-text;
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;

  .embed-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  body.dark & {
    color: $docs-color-md-text-dark;
    background: $docs-color-back-dark;
  }

  * {
    box-sizing: border-box;
  }

  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }

  > :first-child {
    margin-top: 0!important;
  }

  > :last-child {
    margin-bottom: 0!important;
  }

  .octicon {
    display: inline-block;
    fill: currentcolor;
    vertical-align: text-bottom;
  }

  .anchor {
    float: left;
    line-height: 1;
    margin-left: -1.25em;
    padding-right: 0.25em;

    &:focus {
      outline: none;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 0;

    .octicon-link {
      color: $docs-color-md-code;
      vertical-align: middle;
      visibility: hidden;

      body.dark & {
        color: $docs-color-md-code-dark;
      }
    }

    &:hover .anchor {
      text-decoration: none;

      .octicon-link {
        visibility: visible;
      }
    }
  }

  details {
    display: block;
  }

  summary {
    display: list-item;
  }

  a {
    background-color: transparent;
    color: $docs-color-sidebar-active;
    text-decoration: none;

    &:active, &:hover {
      outline-width: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    border-style: none;
  }

  code, kbd, pre {
    font-family: monospace;
    font-size: 1em;
  }

  input {
    font: inherit;
    margin: 0;
    overflow: visible;
  }

  [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
  }

  input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  strong {
    font-weight: 600;
    font-weight: inherit;
    font-weight: bolder;
  }

  hr {
    box-sizing: content-box;
    border: 0;
    border-bottom: 1px solid $docs-color-shadow;
    height: 0.25em;
    overflow: hidden;
    background-color: $docs-color-md-line;
    margin: 1.5em 0;
    padding: 0;

    body.dark & {
      border-bottom: 1px solid $docs-color-shadow-dark;
      background-color: $docs-color-md-line-dark;
    }

    &:before {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td, th {
    padding: 0;
  }

  details summary {
    cursor: pointer;
  }

  h1, h2 {
    border-bottom: 1px solid $docs-color-md-border;
    padding-bottom: 0.3em;

    body.dark & {
      border-bottom: 1px solid $docs-color-md-border-dark;
    }
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }

  h3 {
    font-size: 1.25em;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }

  h4 {
    font-size: 1em;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.85em;
    color: $docs-color-md-inactive;

    body.dark & {
      color: $docs-color-md-inactive-dark;
    }
  }

  p {
    margin-bottom: 10px;
    margin-top: 0;
  }

  blockquote {
    margin: 0;
  }

  ol, ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    ol {
      list-style-type: lower-roman;
    }

    ol, ul {
      margin-bottom: 0;
      margin-top: 0;

      ol {
        list-style-type: lower-alpha;
      }
    }
  }

  dd {
    margin-left: 0;
  }

  code, pre {
    font-family: $docs-font-family-code;
    font-size: 0.75em;
    white-space: pre-wrap;
  }

  pre {
    margin-bottom: 0;
    margin-top: 0;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  .border {
    border: 1px solid $docs-color-md-line !important;
  }

  .border-0 {
    border: 0 !important;
  }

  .border-bottom {
    border-bottom: 1px solid $docs-color-md-line !important;
  }

  .rounded-1 {
    border-radius: 3px!important;
  }

  .bg-white {
    background-color: $docs-color-back !important;
  }

  .bg-gray-light {
    background-color: $docs-color-md-shadow !important;
  }

  .text-gray-light {
    color: $docs-color-md-inactive !important;

    body.dark & {
      color: $docs-color-md-inactive-dark !important;
    }
  }

  .lh-condensed {
    line-height: 1.25 !important;
  }

  .text-bold {
    font-weight: 600 !important;
  }

  a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  blockquote,
  dl,
  ol,
  p,
  pre,
  table,
  ul {
    word-break: break-word;
    margin-bottom: 1em;
    margin-top: 0;
  }

  blockquote {
    border-left: 0.25em solid $docs-color-md-table;
    color: $docs-color-md-inactive;

    padding: 0 1em;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    body.dark & {
      color: $docs-color-md-inactive-dark;
    }
  }

  kbd {
    background-color: $docs-color-md-shadow;
    border: 1px solid $docs-color-md-front;
    border-bottom-color: $docs-color-md-box;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 $docs-color-md-box;
    color: $docs-color-md-kbd;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;

    body.dark & {
      border: 1px solid $docs-color-md-front-dark;
      border-bottom-color: $docs-color-md-box-dark;
      box-shadow: inset 0 -1px 0 $docs-color-md-box-dark;
      color: $docs-color-md-kbd-dark;
    }
  }

  ol, ul {
    padding-left: 2em;
  }

  li {
    word-wrap: break-all;

    > p {
      margin-top: 1em;
    }
  }

  li + li {
    margin-top: 0.25em;
  }

  dl {
    padding: 0;

    dt {
      font-size: 1em;
      font-style: italic;
      font-weight: 600;
      margin-top: 1em;
      padding: 0;
    }

    dd {
      margin-bottom: 1em;
      padding: 0 1em;
    }
  }

  table {
    display: block;
    overflow: auto;
    width: 100%;
  }

  table th {
    font-weight: 600;
  }

  table td,
  table th {
    border: 1px solid $docs-color-md-table;
    padding: 0.5em 0.8em;

    body.dark & {
      border: 1px solid $docs-color-md-table-dark;
    }
  }

  table tr {
    background-color: $docs-color-back;
    border-top: 1px solid $docs-color-md-front;

    body.dark & {
      background-color: $docs-color-back-dark;
      border-top: 1px solid $docs-color-md-front-dark;
    }
  }

  table tr:nth-child(2n) {
    background-color: $docs-color-md-back;
  }

  img {
    background-color: $docs-color-back;
    box-sizing: content-box;
    max-width: 100%;
  }

  img[align=right] {
    padding-left: 1.25em;
  }

  img[align=left] {
    padding-right: 1.25em;
  }

  code {
    background-color: rgba($docs-color-md-code, 0.05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: 0.2em 0.4em;
  }

  pre {
    word-wrap: break-word;
    background-color: $docs-color-md-back;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 1rem;

    > code {
      background: transparent;
      border: 0;
      font-size: 100%;
      margin: 0;
      padding: 0;
      white-space: pre-wrap;
      word-break: normal;
    }

    body.dark & {
      background-color: $docs-color-md-back-dark;
    }
  }

  pre code {
    background-color: transparent;
    border: 0;
    display: inline;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: visible;
    padding: 0;
    word-wrap: normal;
  }

  .commit-tease-sha {
    color: $docs-color-sidebar-normal;
    display: inline-block;
    font-family: $docs-font-family-code;
    font-size: 90%;
  }

  .blob-wrapper {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
  }

  .blob-num {
    color: rgba($docs-color-md-code, 0.3);
    cursor: pointer;
    font-family: $docs-font-family-code;
    font-size: 0.75rem;
    line-height: 1.25em;
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 1%;

    &:hover {
      color: rgba($docs-color-md-code, 0.6);
    }

    &:before {
      content: attr(data-line-number);
    }
  }

  .blob-code {
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    vertical-align: top;
  }

  .blob-code-inner {
    color: $docs-color-md-text;
    font-family: $docs-font-family-code;
    font-size: 0.75rem;
    overflow: visible;
    white-space: pre;
    word-wrap: normal;

    body.dark & {
      color: $docs-color-md-text-dark;
    }
  }

  .pl-token.active, .pl-token:hover {
    background: $docs-color-md-token;
    cursor: pointer;
  }

  kbd {
    background-color: $docs-color-md-shadow;
    border: 1px solid $docs-color-md-edge;
    border-bottom-color: $docs-color-md-front;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 $docs-color-md-front;
    color: $docs-color-md-kbd;
    display: inline-block;
    font: 11px $docs-font-family-code;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;

    body.dark & {
      color: $docs-color-md-kbd-dark;
      box-shadow: inset 0 -1px 0 $docs-color-md-front-dark;
      background-color: $docs-color-md-shadow-dark;
      border: 1px solid $docs-color-md-edge-dark;
      border-bottom-color: $docs-color-md-front-dark;
    }
  }

  :checked + .radio-label {
    border-color: $docs-color-sidebar-active;
    position: relative;
    z-index: 1;
  }

  .task-list-item {
    list-style-type: none;

    input {
      margin: 0 0.2em 0.25em -1.6em;
      vertical-align: middle;
    }
  }

  .task-list-item + .task-list-item {
    margin-top: 3px;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    color: $docs-color-md-keyword;
    background: $docs-color-md-paper;
    word-break: break-word;

    body.dark & {
      color: $docs-color-md-keyword-dark;
      background: $docs-color-md-paper-dark;
    }
  }

  .hljs-comment,
  .hljs-quote {
    color: $docs-color-md-comment;
    font-style: italic;
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-subst {
    color: $docs-color-md-keyword;
    font-weight: bold;

    body.dark & {
      color: $docs-color-md-keyword-dark;
    }
  }

  .hljs-number,
  .hljs-literal,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag .hljs-attr {
    color: $docs-color-md-literal;
  }

  .hljs-string,
  .hljs-doctag {
    color: $docs-color-md-string;
  }

  .hljs-title,
  .hljs-section,
  .hljs-selector-id {
    color: $docs-color-md-section;
    font-weight: bold;
  }

  .hljs-subst {
    font-weight: normal;
  }

  .hljs-type,
  .hljs-class .hljs-title {
    color: $docs-color-md-type;
    font-weight: bold;
  }

  .hljs-tag,
  .hljs-name,
  .hljs-attribute {
    color: $docs-color-md-attribute;
    font-weight: normal;
  }

  .hljs-regexp,
  .hljs-link {
    color: $docs-color-md-regexp;
  }

  .hljs-symbol,
  .hljs-bullet {
    color: $docs-color-md-symbol;
  }

  .hljs-built_in,
  .hljs-builtin-name {
    color: $docs-color-md-builtin;
  }

  .hljs-meta {
    color: $docs-color-md-meta;
    font-weight: bold;
  }

  .hljs-deletion {
    background: $docs-color-md-deletion;
  }

  .hljs-addition {
    background: $docs-color-md-addition;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}

.markdown-edit {
  font-size: 0.8em;
  text-align: right;
  margin: 1em 0;

  a {
    text-decoration: none;
    color: $docs-color-tabs-text-normal;

    &:hover {
      color: $docs-color-secondary;
    }
  }
}
